/**
 * Created by WebStorm
 * User:maomao,http://www.mmcode.top
 * Data:2017/4/17
 * Time:15:37
 */
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

/*body {*/
    /*overflow-x:hidden;*/
    /*overflow-y:hidden;*/
/*}*/
::-webkit-scrollbar
{
    width: 5px;
    height: 16px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


.tabs{
      position: absolute;
      margin:60px 2px;
      width: 315px;
      height:600px;
      border:1px;
      solid:#fff;
    overflow-y:auto;
    overflow-x: hidden;
}

.tabs1{
    position: absolute;
    margin:60px 200px;
    width: 300px;
    height:100vh;
    border:1px;
    solid:#fff
}
.dg .main{
    width: 300px;
}
.dg .close-button{
    display: none;
}
*{
    margin:0;
    padding: 0;
}
/*body{*/
/*overflow-x:hidden;*/
/*overflow-y:hidden;*/
/*}*/
div.screenContainer{
    width:600px;height:600px;left:320px;top:60px;position: absolute;overflow: hidden;
    background-image: url("../css/img/grid.png");background-repeat: repeat;
}
div.screen{
    position: absolute;background: #0d2a42;overflow: hidden;
}
div.Monitor{width: 500px;height: 400px;overflow: hidden;cursor: move;position: absolute; }

div.Monitor:hover{ outline: 1px solid #419bf9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    background: rgba(0, 192, 222, .2);}
/*div.Monitor:active{width: 500px;height: 400px; outline:2px solid red; overflow: hidden;background: whitesmoke;cursor: move;}*/
/*div.divControlPannel:hover{width: 500px;height: 400px;overflow: hidden;cursor: move;background: white;position: absolute; }*/

.divControlPannel{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
    height:20px;
    text-align: center;
    z-index: 1000;
    display: inline;
    background: #00C1DE;
}
.divControlPannelIcon{
    margin-left: 5px;
    color: #738ffe;
    outline:1px dotted #738ffe;
    cursor:pointer;
}
div.shareScreen{
    width:100%;height:100%;position: absolute;
    margin: 70px 0 0 0;background: grey;overflow: hidden;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    cursor:pointer;
}


