/**
 * Created by WebStorm
 * User:maomao,http://www.mmcode.top
 * Data:2017/4/17
 * Time:15:37
 */
.tabs{
      position: absolute;
      margin:60px 2px;
      width: 300px;
      height:700px;
      border:1px;
      solid:#fff;
    overflow-y:auto;
}

.tabs1{
    position: absolute;
    margin:60px 200px;
    width: 300px;
    height:100vh;
    border:1px;
    solid:#fff
}
.dg .main{
    width: 300px;
}
div.screen{
    width: 900px;height:600px;margin:60px 320px;position: absolute;background: grey;overflow: hidden;
}
div.barMonitor{width: 500px;height: 400px;outline:2px dotted blue;overflow: hidden;background: whitesmoke;cursor: move;}

div.barMonitor:focus{width: 500px;height: 400px; border:2px dotted red; overflow: hidden;background: whitesmoke;cursor: move;}