/**
 * Created by WebStorm
 * User:maomao,http://www.mmcode.top
 * Data:2017/4/17
 * Time:15:37
 */
.tabs{
    position: absolute;
    margin:60px 2px;
    width: 300px;
    height:100vh;
    border:1px;
    solid:#fff
}
.dg .main{
    width: 300px;
}